In [1]:
import pandas as pd
import os
import numpy as np
import mpu
from geopy.distance import geodesic

In [2]:
file1= "July_2019_citibike_data.csv"
file2= "January_2019_citibike_data.csv"

In [3]:
df1 = pd.read_csv(file1)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1

In [4]:
df2 = pd.read_csv(file2)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
#coordinates from start station and end stations
lat1=40.691966
lon1=-73.981302
lat2=40.693261
lon2=-73.968896

In [6]:
#Using geopy library to calculate miles from Lat/ Long coordinates
import geopy.distance
from geopy.distance import vincenty

coords_1 = (lat1, lon1)
coords_2 = (lat2, lon2)

print(geopy.distance.distance(coords_1, coords_2).mi)

0.6576779853652753

In [7]:
new_df1= df1.rename(columns={'start station latitude': 'start_lats', 'start station longitude': 'start_longs', 'end station latitude': 'end_lats', 'end station longitude': 'end_longs', 'birth year': 'age'})
new_df2= df2.rename(columns={'start station latitude': 'start_lats', 'start station longitude': 'start_longs', 'end station latitude': 'end_lats', 'end station longitude': 'end_longs', 'birth year': 'age'})

In [8]:
new_df1.dtypes

tripduration            int64
starttime              object
stoptime               object
start station id        int64
start station name     object
start_lats            float64
start_longs           float64
end station id          int64
end station name       object
end_lats              float64
end_longs             float64
bikeid                  int64
usertype               object
age                     int64
gender                  int64
dtype: object

In [9]:
#geopy distance in miles for start and end coordinates, adding new miles_traveled column
def distance(row):
    return geopy.distance.distance((row.start_lats, row.start_longs),(row.end_lats, row.end_longs)).mi
new_df1['miles_traveled']= new_df1.apply(lambda r: distance(r), axis=1)

In [10]:
def distance(row):
    return geopy.distance.distance((row.start_lats, row.start_longs),(row.end_lats, row.end_longs)).mi
new_df2['miles_traveled']= new_df2.apply(lambda r: distance(r), axis=1)

In [11]:
#make sure data type is correct for new column
new_df1.dtypes

tripduration            int64
starttime              object
stoptime               object
start station id        int64
start station name     object
start_lats            float64
start_longs           float64
end station id          int64
end station name       object
end_lats              float64
end_longs             float64
bikeid                  int64
usertype               object
age                     int64
gender                  int64
miles_traveled        float64
dtype: object

In [12]:
new_df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start_lats,start_longs,end station id,end station name,end_lats,end_longs,bikeid,usertype,age,gender,miles_traveled
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1,2.014926
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1,1.090457
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1,0.401718
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2,1.017295
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1,1.017295

In [13]:
new_df1['age'] = 2019 - new_df1['age']
new_df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start_lats,start_longs,end station id,end station name,end_lats,end_longs,bikeid,usertype,age,gender,miles_traveled
0,1793,2019-07-01 00:00:36.6150,2019-07-01 00:30:30.5940,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,41,1,2.014926
1,434,2019-07-01 00:02:54.6150,2019-07-01 00:10:09.0370,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,31,1,1.090457
2,251,2019-07-01 00:03:27.5670,2019-07-01 00:07:38.6080,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,33,1,0.401718
3,636,2019-07-01 00:03:56.1690,2019-07-01 00:14:32.4180,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,23,2,1.017295
4,623,2019-07-01 00:04:16.2060,2019-07-01 00:14:40.0500,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,30,1,1.017295

In [14]:
new_df2['age'] = 2019 - new_df2['age']
new_df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start_lats,start_longs,end station id,end station name,end_lats,end_longs,bikeid,usertype,age,gender,miles_traveled
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,26,1,0.287536
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,47,2,0.565349
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,34,1,1.217823
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,50,0,0.565349
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,50,0,0.565349

In [15]:
new_df1.to_csv("July_2019_citibike_data_clean.csv")
new_df2.to_csv("January_2019_citibike_data_clean.csv")