In [89]:
import pandas as pd
import os
import numpy as np
import mpu
from geopy.distance import geodesic

In [90]:
file= "CitiBikeHistorical/Halloween2013.2019/201310.csv"

In [91]:
df = pd.read_csv(file)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,2013-10-01 00:01:21,2013-10-01 00:13:30,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1

In [92]:
#coordinates from start station and end stations
lat1=40.691966
lon1=-73.981302
lat2=40.693261
lon2=-73.968896

In [108]:
#Using geopy library to calculate miles from Lat/ Long coordinates
import geopy.distance
from geopy.distance import vincenty

coords_1 = (lat1, lon1)
coords_2 = (lat2, lon2)

print(geopy.distance.distance(coords_1, coords_2).mi)

0.6576779853657143

In [109]:
new_df= df.rename(columns={'start station latitude': 'start_lats', 'start station longitude': 'start_longs', 'end station latitude': 'end_lats', 'end station longitude': 'end_longs'})

In [110]:
new_df.dtypes

tripduration            int64
starttime              object
stoptime               object
start station id        int64
start station name     object
start_lats            float64
start_longs           float64
end station id          int64
end station name       object
end_lats              float64
end_longs             float64
bikeid                  int64
usertype               object
birth year             object
gender                  int64
dtype: object

In [114]:
#geopy distance in miles for start and end coordinates, adding new miles_traveled column
def distance(row):
    return geopy.distance.distance((row.start_lats, row.start_longs),(row.end_lats, row.end_longs)).mi
new_df['miles_traveled']= new_df.apply(lambda r: distance(r), axis=1)

In [115]:
#make sure data type is correct for new column
new_df.dtypes

tripduration            int64
starttime              object
stoptime               object
start station id        int64
start station name     object
start_lats            float64
start_longs           float64
end station id          int64
end station name       object
end_lats              float64
end_longs             float64
bikeid                  int64
usertype               object
birth year             object
gender                  int64
miles_traveled        float64
dtype: object

In [119]:
new_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start_lats,start_longs,end station id,end station name,end_lats,end_longs,bikeid,usertype,birth year,gender,miles_traveled
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1,0.657671
1,729,2013-10-01 00:01:21,2013-10-01 00:13:30,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0,0.556638
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1,1.145063
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1,0.629667
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1,0.335614

In [121]:
new_df.to_csv('CitiBikeHistorical/Halloween2013.2019/2013_clean.csv')